{% load static %}

{% block content %}

    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span><a href="{% url 'home' %}">MyForum - Forums</a> >> <a href="{{forum.temas.all.0.get_url}}">{{forum.temas.all.0}}</a> >> <a href="{{forum.get_url}}">{{forum.titulo}}</a></span>
        </div>

        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="autores">Autor</div>
                <div class="content">Topico: {{forum.titulo}} (Read {% get_hit_count for forum %} Times)</div>
            </div>

            <div class="body">
                <div class="autores">
                    <div class="username"><a href="">{{forum.user|title}}</a></div>
                    <div>Role</div>
                   <!-- <img src="{{forum.user.profile_pic.url}}" alt="">-->
                    <div>Forum: <u>{{forum.user.num_forums}}</u></div>
                </div>
                <div class="content">
                    {{forum.conteudo|safe}}
                    <br>
                    <div class="comentario">
                        <button onclick="showComment()">Comentarios</button>
                    </div>
                </div>
            </div>
        </div>


        <!--comentario Area-->
        {% if post.closed == True %}
        <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> This Topic Is Closed! </div>
        {% else %}
        {% if request.user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment-area">
                <textarea name="comment" id="" placeholder="comment here ... "></textarea>
                <input type="submit" value="submit" name="comment-form">
            </div>
        </form>
        {% else %}
<div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Você precisa fazer <a href="{% url 'login' %}"><b>login</b></a> para comentar </div>        

        {% endif %}

        {% endif %}

        <!--comentarios Section-->

        {% for comentario in forum.comentarios.all %}
        <div class="comentarios-container">
            <div class="body">
                <div class="autores">
                    <div class="username"><a href="">{{comentario.user|titulo}}</a></div>
                    <div>Role</div>
                    <img src="{{comentario.user}}" alt="">
                    <div>Posts: <u>{{comentario.user.num_forums}}</u></div>
                </div>
                <div class="content">
                    {{comentario.conteudo}}
                    <br>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endfor %}

       
        

    </div>
    {% endblock content %}