{% extends 'geral/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="contents">
              <h5 class="script-font wow fadeInUp animated animated animated animated animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">Mensagens</h5>
              
              <div class="header-button wow fadeInUp animated animated animated animated animated animated animated animated" data-wow-delay="1s" style="visibility: visible;">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>
  <!-- Header Area wrapper End -->

  <!-- About Section Start -->
    <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'listar_sala' %}">Salas</a></li>
          <li>Mensagens</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
 
 
  <section id="blog" class="blog">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row g-8">

        <div class="col-lg-10">

          <article class="blog-details">

            <div class="post-img">
              <img src="{{ sala.imagem.url }}" alt="" class="img-fluid">
            </div>

            <h2 class="title">{{ sala.titulo }}</h2>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">{{ sala.data }}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{sala.num_mensagens}}</a></li>
              </ul>
            </div><!-- End meta top -->

            <!-- End meta bottom -->

          <!-- End post author -->

          <div class="comments">

            <div id="comment-1" class="comment">
              {% for mensagem in mensagens %}
              <div class="d-flex">
                <div class="comment-img">
                  <img src="{{ mensagem.autor.img.url }}" alt="Foto do usuário">
                </div>
                <div class="comment-info">
                  <h5><a href="">{{ mensagem.autor.username }}</a></h5>
                  <time datetime="2020-01-01">{{ mensagem.data }}</time>
                  <p>{{ mensagem.conteudo }}</p>
                </div>
                <div class="comment-actions ml-auto">
                  {% if mensagem.autor == request.user.usuario %}
                  <form method="POST" action="{% url 'atualizar_mensagem' sala_id=sala.id mensagem_id=mensagem.id %}">
                      {% csrf_token %}
                      <input type="text" name="novo_conteudo" placeholder="Editar Mensagem">
                      <button type="submit">Atualizar</button>
                  </form>
                  <form method="POST" action="{% url 'excluir_mensagem' sala_id=sala.id mensagem_id=mensagem.id %}">
                      {% csrf_token %}
                      <button type="submit">Excluir</button>
                  </form>
              {% endif %}
                </div>
              </div>
          {% endfor %}
            </div><!-- End comment-->

        </div>
    </div>
    <div class="container">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="reply-form">

              <h4>Escreva uma Mensagem</h4>
              
              <form method="POST" enctype="multipart/form-data" action="{% url 'detalhes_sala' sala_id=sala.id %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col form-group">
                    <input name="anexo" type="file" class="form-control" placeholder="Anexar Arquivo">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="conteudo" class="form-control" placeholder="Seu Comentario"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Postar</button>

              </form>

            </div>

          </div><!-- End blog comments -->

        </div>

        
      </div>

    </div>
</div>
</div>

  </section><!-- End Blog Details Section -->
{% endblock %}




