
{% extends 'geral/base.html' %}
{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Fórum</li>
        </ol>
        <h2>Salas</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->

	{% if salas %}
	{% for s in salas %}
    
	<section id="blog" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-9 entries">
            <article class="entry">
			
              <div class="entry-img">
				        <img src="{{ s.imagem }}">
              </div>

              <h2 class="entry-title">
				    <a href="{{ s.id }}">{{ s.titulo }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
					<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html">{{s.data}}</a></li>
					<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">{{s.num_mensagens}}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <div class="read-more">
					<a href="{{ s.id }}" title="">Comentar</a>
                </div>
			
				</div>
				
              </div>

			{% endfor %}
			{% else %}
			Não há Salas cadastrados.
			<div class="text-right mr-3">
				<a href="/forum/criar_sala/{{ s.id }}">
					<button type="button" class="btn mb-1 btn-info">
						Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
					</button>
				</a>
			</div>
		  
		  {% endif %}

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="active">1</a></li>
                <li class="#"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>
          </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

		
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main>

{% endblock %}