
{% extends 'geral/base.html' %}
{% load static %}

{% block content %}

<section>
	<div class="gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="page-contents" class="row merged20">
						<div class="col-lg-9">
							<div class="main-wraper">
								<div class="main-title">Salas</div>
								{% if salas %}
                    				{% for s in salas %}
								<div class="blog-posts">
									<img height="250" width="200" src="{{s.imagem}}">
									<div class="blog-post-meta">
										<li><a href="{{ s.slug }}">{{ s.titulo }}</a></li>
										<ul>
											<li> <i class="fa-sharp fa-light fa-comment-dots"></i><a title="comentários" href="#">{{s.num_mensagens}}</a></li>
										<li><span><i class="icofont-clock-time"></i> {{s.data}}</span></li>
										<li><a href="{{s.slug}}" title="" class="button primary circle">Comentar</a></li>
										<li><div class="text-right mr-3">
											<a href="atualizar_sala/{{ s.slug }}">
												<button type="button"  class="button primary circle">
													Editar <span class="btn-icon-right"> <i class="fa fa-edit"></i> </span>
												</button>
											</a>
											<a href="excluir_sala/{{ s.slug }}">
												<button type="button"  class="button primary circler">
													Excluir <span class="btn-icon-right"> <i class="fa fa-close"></i> </span>
												</button>
											</a>
											</div><li>
											</ul>		
									</div>
								</div>
									{% endfor %}
									{% else %}
									Não há livros cadastrados.
									<div class="text-right mr-3">
										<a href="/forum/criar_sala/{{ salas.slug }}">
											<button type="button" class="btn mb-1 btn-info">
												Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
											</button>
										</a>
									</div>
								      
							
								{% endif %}
							
								<div class="load mt-5 mb-4">
									<ul class="pagination">
										<li><a href="#" title=""><i class="icofont-arrow-left"></i></a></li>
										<li><a class="active" href="#" title="">1</a></li>
										<li><a href="#" title="">2</a></li>
										<li><a href="#" title="">3</a></li>
										<li><a href="#" title="">4</a></li>
										<li><a href="#" title="">5</a></li>
										<li>....</li>
										<li><a href="#" title="">10</a></li>
										<li><a href="#" title=""><i class="icofont-arrow-right"></i></a></li>
									</ul>
								</div>
							</div>	
						</div>
						
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}

