
{% load static %}

{% block head %}
    <title> Entre </title>
{% endblock %}

    <main class="content">
        
        <div class="card-wrapper">

            <div class="card">
                <header class="card__header">
                    <div class="logo">
                        <span class="logoName">
                            <span class="text-secondary">Autismo em</span>Foco
                        </span>
                    </div>
                    <h2 class="subtitle">Criar sua Conta </h2>
                </header>
                <div class="card__body">
                    <form class="card-form form" method="POST" action=".">
                        {% csrf_token %}
                        <ul>
                            <div class="field__group">
            
                                <li>
                                    <div class="field">
                                        {{ form.first_name }}
                                        {{ form.first_name.label_tag }}
                                    </div>
                                    {{ form.first_name.errors }}
                                </li>
            
                                <li>
                                    <div class="field">
                                        {{ form.last_name }}
                                        {{ form.last_name.label_tag }}
                                    </div>
                                    {{ form.last_name.errors }}
                                </li>
            
                                <li>
                                    <div class="field">
                                        {{ form.username }}
                                        {{ form.username.label_tag }}
                                    </div>
                                    {{ form.username.errors }}
                                </li>
                            </div>
                            <li>
                                <div class="field">
                                    {{ form.email }}
                                    {{ form.email.label_tag }}
                                </div>
                                {{ form.email.errors }}
                            </li>
                            <div class="field__group">
            
                                <li>
                                    <div class="field">
                                        {{ form.password1 }}
                                        {{ form.password1.label_tag }}
                                    </div>
                                    {{ form.password.errors }}
                                </li>
            
                                <li>
                                    <div class="field">
                                        {{ form.password2 }}
                                        {{ form.password2.label_tag }}
                                        <label for="password2">Confirmar</label>
                                    </div>
                                    {{ form.password2.errors }}
                                </li>
                            </div>
                        </ul>
                        <div class="actions">
                            <a href="/accounts/login" class="btn text-secondary">Faça login em vez disso</a>
                            <button class="btn submit" type="submit">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
