
{% load static %}

{% block head %}
    <title> Entre </title>
{% endblock %}

    <main class="content">
        
        <div class="card-wrapper">

            <div class="card">
                <header class="card__header">
                    <div class="logo">
                        <span class="logoName">
                            <span class="text-secondary">Autismo em</span>Foco
                        </span>
                    </div>
                    <h2 class="subtitle">Criar sua Conta </h2>
                </header>
                <div class="card__body">
                    <form class="card-form form" method="POST" action=".">
                        {% csrf_token %}
                        <ul>
                           <li> {{form}}</li>
                        </ul>
                        <div class="actions">
                            <a href="/accounts/login" class="btn text-secondary">Faça login em vez disso</a>
                            <button class="btn submit" type="submit">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
