{% extends 'geral/base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block content %}

    
<div class="row">
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <form action="/trabalhosAcademicos/atualizar_Trabalhos/{{ id }}/" method="post">
                    {% csrf_token %}

                    {{ form }}

                    <input type="submit" class="btn btn-primary" value="Salvar">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% else %}
    <a href="/accounts/login"> </a>
{% endif %}