{% extends 'geral/base.html' %}
{% load static %}

{% block content %}

    <main class="content">
        
        <div class="card">

            <header class="card__header">
                <h1 class="title">Publicar Trabalhos Acadêmicos</h1>

            </header>

            <div class="container">
                <div class="form">
                    <form action="{% url 'publicar_Trabalhos' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- campos do formulário aqui -->
                       {{form}}
                        <!-- outros campos do formulário aqui -->
                        <input type="submit" value="Enviar">
                    </form>
                  
            </div> 
        </div>

    </main>
{% endblock %}


