{% extends 'geral/base.html' %}
{% load static %}

{% if user.is_authenticated %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right mr-3">
                    <a href="/profissao/criar/{{ profissao.id }}">
                        <button type="button" class="btn mb-1 btn-info">
                            Adicionar <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                        </button>
                    </a>
                </div>
                {% if profissao %}
                    {% for p in profissao %}
                <div class="atuacao-lista">
                       <p>Nome da Empresa: {{ p.nome_empresa }} </p>
                       <p>Profissão: {{ p.especialidade }} </p>

                         <div class="text-right mr-3">
                            <a href="/profissao/editar/{{ p.id }}">
                                <button type="button" class="btn mb-1 btn-primary">
                                    Editar <span class="btn-icon-right"> <i class="fa fa-edit"></i> </span>
                                </button>
                            </a>
                            <a href="/profissao/excluir/{{ p.id }}">
                                <button type="button" class="btn mb-1 btn-danger">
                                    Excluir <span class="btn-icon-right"> <i class="fa fa-close"></i> </span>
                                </button>
                            </a>
                            </div>
                        </div>
                            {% endfor %}

                            {% else %}
                                Ainda não cadastrou sua atuação profissional.
                                <div class="text-right mr-3">
                                    <a href="/profissao/criar/{{ p.id }}">
                                        <button type="button" class="btn mb-1 btn-info">
                                            Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                        </button>
                                    </a>
                                </div>
                        
                            {% endif %}
                       
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% else %}
        <a href="/accounts/login"> </a>
    {% endif %}