{% load static %}

{% if user.is_authenticated %}
{% block content %}

<!-- Content Row -->
<div class="container-fluid" style="background-color: #f1f1f1;">

    <div class="row">

    <!-- First Column -->
    <div class="col-lg-4">

            <div class="text-center">
                <h5>INFORMAÇÕES: </h5>
            </div>

            <div class="card-body">
                <p>Universidade: {{formacao.universidade}} </p>
                <p>Grau Acadêmico: {{ formacao.grau_academico }} </p>
                <p>Especialização: {{ formacao.especializacao }} </p>
               
            
            </div>
       
    
            </div>

    </div>
{% endblock %}
