<footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-text text-center wow fadeInDown animated animated animated animated animated animated animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">

            <p>IF BAIANO 2023 - Projeto de Conclusão de Curso</p>
          </div>
        </div>
      </div>
    </div>
  </footer>