{% block content %}
  <h1>Perfil</h1>
  <p>CPF: {{ usuario.cpf }}</p>
  <p>Endereço: {{ usuario.endereco }}</p>
  <p>Telefone: {{ usuario.telefone }}</p>
  <p>Descrição: {{ usuario.descricao }}</p>
  <p>Atuação Profissional:</p>
  <ul>
    {% for atuacao in usuario.atuacao_profissional.all %}
      <li>{{ atuacao }}</li>
    {% endfor %}
  </ul>
  <p>Formação:</p>
  <ul>
    {% for formacao in usuario.formacao.all %}
      <li>{{ formacao }}</li>
    {% endfor %}
  </ul>
  <p>Sala:</p>
  <ul>
    {% for sala in usuario.sala.all %}
      <li>{{ sala }}</li>
    {% endfor %}
  </ul>
  <p>Trabalhos Acadêmicos: {{ usuario.trabalhos_academicos }}</p>
  <img src="{{ usuario.img.url }}" alt="Imagem de Perfil">

  <h2>Opções do Perfil</h2>
  <p><a href="{% url 'preencher_perfil' %}">Preencher Perfil</a></p>
  <p><a href="{% url 'atualizar_perfil' %}">Atualizar Perfil</a></p>
{% endblock %}
